.charts-container > div {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-top: 50px;
  margin-right: 20px;
}

h2 {
  margin: 10px;
}

.filter-dates-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
