.workout-page-container {
  height: 93vh;
}

.btn-finish-workout {
  border: 1px solid #52796f;
  border-radius: 8px;
  font-size: large;
}

.btn-finish-workout:hover {
  background: #52796f;
  color: white;
  transition: 0.2s all ease-in-out;
}
.form-workout-container {
  display: grid;
  justify-content: center;
}
.form-workout-labels {
  display: grid;
  justify-content: flex-start;
}

.form-workout-labels input {
  height: 20px;
}

.sets-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #111;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.set-divider {
  border-bottom: 1px solid #111;
}

.btn-add-set {
  border: 1px solid #52796f;
  width: 20%;
  border-radius: 8px;
}

.btn-add-set:hover {
  background: #52796f;
  color: white;
  transition: 0.2s all ease-in-out;
}

.btn-workout-container {
  display: flex;
  justify-content: center;
  margin-right: 20%;
  margin-bottom: 3%;
}

.btn-change-exercise {
  border: 1px solid #52796f;
  border-radius: 8px;
}

.btn-change-exercise:hover {
  background: #52796f;
  color: white;
  transition: 0.2s all ease-in-out;
}
.btn-delete-set {
  background-color: transparent;
  color: black;
  width: 24px;
  margin-left: 10px;
  text-align: center;
  transition-duration: 0.4s;
}
.btn-delete-set:hover {
  border-radius: 5px;
  border: 1px solid #52796f;
}

.sets-info {
  margin-bottom: 10px;
}
