.profile-container {
  width: 600px;
  border-radius: 1.25rem;
  padding: 30px 30px 30px;
  text-align: center;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  background: #cad2c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 80%;
}

.profile-form > .button6 {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #52796f;
}

.button6:hover {
  background-color: #52796f;
  color: white;
}

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #edeaf7;
  color: #5a4f79;
  font-family: inherit;
  font-size: 16px;
  transition: 0.4s;
}

.form-control-label {
  font-size: 0.975rem;
  font-weight: 600;
  color: #525f7f;
}

h4 {
  font-weight: 500;
  line-height: 1.5;
  color: #32325d;
}

.control-gender {
  background: #edeaf7;
  color: #5a4f79;
  transition: 0.4s;
  margin: 0 10px;
}

.gender-container {
  display: flex;
  justify-content: space-evenly;
}

.profile-form-1 > .button7 {
  cursor: pointer;
  background-color: transparent;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid red;
}
.profile-form-1 {
  height: 50px;
  width: 100px;
}
.button7:hover {
  background-color: red;
  color: white;
}
