.goal-container {
  height: 93vh;
  margin: 0;
}

.goal-title {
  margin-bottom: 5%;
  margin-left: 15%;
}

.goal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goal-form-card {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  text-align: center;
}

.goal-form-card img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.form-date {
  background-color: #52796f;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 auto;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.goal-form > .button5 {
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 10%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #52796f;
  margin-bottom: 10px;
}

.button5:hover {
  background-color: #52796f;
  color: white;
}
