nav {
  position: sticky;
  top: 0;
  background-color: var(--third-clr);
  height: 7vh;
  width: 100%;
}

.logo {
  width: 10%;
  float: left;
}
.logo-container {
  margin-left: 5%;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

ul:nth-last-child(1) {
  margin-right: 15%;
}

li {
  padding: 1% 2%;
}

li:nth-child(n + 1):hover {
  margin: 0;
  padding: 1% 2%;
  background-color: #111;
}

.greet-user {
  display: inline;
  margin-right: 15px;
}
