* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cad2c5;
}

:root {
  --navbar-bg: #333;

  --primary-clr: red;
  --secondary-clr: lightblue;
}

/* 
CAD2C5
84A98C
52796F
3992B1
4FBED3 */
